.before-after {
    margin-top: 250px;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.swiper-1 {
    padding-bottom: 40px;
}

.swiper {
    padding-bottom: 40px;
}

ul.drop-menu {
    height: 100px;
}
